<!-- your html code here -->

    <div class="row p-5">
        <div class="col-4 mb-5">
            <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle float-end" alt="...">
        </div>
        <div class="col-8 py-5">
            <!-- Introduccion -->
            <h1 class="text-startmt-5">
                <span class="text">The Second Heading</span>
                <span class="text-secondary">Is Pretty Cool Too.</span>
            </h1>
            <p class="text-start w-75 mb-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborum, velit quos similique dicta
                ducimus magni quas. Eius esse sed asperiores pariatur. Suscipit, pariatur. Cupiditate rerum quasi et
                nesciunt vitae?
            </p>
        </div>
    </div>
